page,
view,
text,
scroll-view,
swiper,
swiper-item,
image,
navigator,
map,
input,
textarea,
cover-view {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

page {
  /* 定义主题颜色 */
  /* --themeColor: #eb4450; */
  /* 定义统一字体大小 */
  background-color: #F7F7F7;
  font-size: 28rpx;
  height: 100%;
}

uni-page,
uni-tabbar {
  touch-action: none;
}
